body {
  margin: 50px 200px 0px 200px; /* remove bottom margin */
}

html {
  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: space-between; /* pushes left & right apart */
  align-items: center;            /* keeps them on same horizontal line */
  padding: 10px 20px;
}

body {
  cursor: url("imgHeader/cursor.png"), auto;
}
a:hover {
  cursor: url("imgHeader/cursorHover.png"), pointer;
}
.not-allowed {
  cursor: url("imgHeader/cursorUnavailable"), not-allowed;
}

.logo img {
  width: 180px;  /* adjust your logo size */
  height: auto;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.aboutIdle{
    width: 40px;
    height: auto;
}
.aboutMeIcon{
    width: 40px;
    height: auto;
}
.designIcon{
    width: 120px;
    height: auto;
}

.illustrationIcon{
    width: 170px;
    height: auto;
}

.motionIcon{
    width: 120px;
    height: auto;
}

.mainImg{
  display: flex;
  width: 100vw;        /* full window width */
}
.mainImg img {
  height: 420px;     /* same height */
  width: auto;       /* preserve aspect ratio */
}

.headerImg{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

@font-face {
  font-family: 'fontTitle';
  src: url('fonts/NikkyouSans-mLKax.ttf') format('truetype');
}

@font-face {
  font-family: 'fontDescription';
  src: url(fonts/后弃\ 2020\ Medium.ttf);
}

.subTitle{
  font-family: 'fontTitle';
  font-size: 40px;
  background-color: black;
  color: white;
}

.subTitle p {
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.galleryGrid {
  column-count: 3;
  column-gap: 20px;
  margin-bottom: 50px;
}

.galleryGrid img {
  width: 100%;
  margin-bottom: 20px;
  display: block;
}

.galleryWhole{
    margin-bottom: 20px;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.6); /* white transparent layer */
  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999;
}

/* When active */
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* Big image */
.overlay img {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.bottomContact{

  background-color: black;
  color: white;
  height: 250px;

  width: 100%;              /* full screen width */
  position: relative;

  margin-left: calc(-50vw + 50%);  /* breaks out of body margins */
  margin-right: calc(-50vw + 50%);
  padding: 40px 200px;
  display: flex;
  flex-direction: row;
  gap: 500px;

}

.contactTitle {
  font-family: 'fontTitle';
  font-size: 20px;
}
.contactDescription{
  font-family: 'fontDescription';
  font-size: 18px;
}

.socialIcons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.X {
  width: 40px;
  height: auto;
}
.insta {
    width: 40px;
  height: auto;
}
.youtube{
  width: 45px;
  height: auto;
}